<h1 class="text-center" style="color: white">Caught Fishes</h1>
<carousel>
  <ng-container *ngIf="fishes">
    <slide *ngFor="let fish of fishes; let i = index">
      <div class="d-flex justify-content-center">
        <img
          src="../../../../assets/img/karp.jpg"
          alt="slide image"
          class="w-50"
        />
      </div>
      <div
        class="carousel-caption d-none d-md-block"
        style="
          background-color: rgba(255, 255, 255, 0.307);
          margin: 0 10% 0 10%;
        "
      >
        <h1>{{ fish.species }}</h1>
        <br />
        <h2>{{ fish.weight }}kg</h2>
        <h2>{{ fish.length }}cm</h2>
        <br />
        <h4>Date: {{ fish.date }}</h4>
        <h4>Location: {{ fish.location }}</h4>
        <button class="btn btn-danger" (click)="deleteItem(i)">
          <i class="fa fa-trash"></i>
          Delete
        </button>
        <button class="btn btn-primary" (click)="openModal(fish)">
          <i class="fa fa-pencil"></i>
          Update
        </button>
      </div>
    </slide>
  </ng-container>
</carousel>

<ng-container *ngIf="showModal">
  <div
    style="color: white"
    role="dialog"
    aria-labelledby="updateFishModalLabel"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateFishModalLabel">Update Fish</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #updateFishForm="ngForm">
            <div class="form-group">
              <label for="species">Species:</label>
              <input
                type="text"
                class="form-control"
                id="species"
                name="species"
                [(ngModel)]="selectedFish.species"
                required
              />
            </div>
            <div class="form-group">
              <label for="weight">Weight:</label>
              <input
                type="text"
                class="form-control"
                id="weight"
                name="weight"
                [(ngModel)]="selectedFish.weight"
                required
              />
            </div>
            <div class="form-group">
              <label for="length">Length:</label>
              <input
                type="text"
                class="form-control"
                id="length"
                name="length"
                [(ngModel)]="selectedFish.length"
                required
              />
            </div>
            <div class="form-group">
              <label for="date">Date:</label>
              <input
                type="text"
                class="form-control"
                id="date"
                name="date"
                [(ngModel)]="selectedFish.date"
                required
              />
            </div>
            <div class="form-group">
              <label for="location">Location:</label>
              <input
                type="text"
                class="form-control"
                id="location"
                name="location"
                [(ngModel)]="selectedFish.location"
                required
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="closeModal()"
            data-dismiss="modal"
          >
            Cancel
          </button>
          <button type="button" class="btn btn-primary" (click)="updateFish()">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<h1 class="text-center" style="color: white">Friends</h1>
<div class="list-group">
  <div class="row">
    <div
      class="col-md-4"
      *ngFor="let friend of friends"
      style="margin-bottom: 20px"
    >
      <a href="#" class="list-group-item list-group-item-action">
        <div class="media">
          <img
            src="src=../../../../assets/img/person.png"
            class="mr-3"
            width="64"
            width="64"
            alt="person icon"
          />
          <div class="media-body">
            <h5 class="mt-0">{{ friend.name }}</h5>
            <p>Age: {{ friend.age }}</p>
            <p>Email: {{ friend.email }}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
